In [2]:
from textblob import TextBlob

In [6]:
import pandas as pd

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
#assigning review to json file. setting how many lines we want to read from the file at a time#
review = pd.read_json('review.json',lines=True, chunksize=1000)

In [9]:
#assigning subset as the first n amount of lines we are looking at#
for r in review:
    subset = r
    break

In [10]:
#displays the shape of the data (rows,columns)#
subset.shape

(1000, 9)

In [11]:
#displays the different columns in the data#
subset.dtypes

business_id            object
cool                    int64
date           datetime64[ns]
funny                   int64
review_id              object
stars                   int64
text                   object
useful                  int64
user_id                object
dtype: object

In [12]:
#displays details of each review#
subset.head

<bound method NDFrame.head of                 business_id  cool                date  funny  \
0    ujmEBvifdJM6h6RLv4wQIg     0 2013-05-07 04:34:36      1
1    NZnhc2sEQy3RmzKTZnqtwQ     0 2017-01-14 21:30:33      0
2    WTqjgwHlXbSFevF32_DJVw     0 2016-11-09 20:09:03      0
3    ikCg8xy5JIg_NGPx-MSIDA     0 2018-01-09 20:56:38      0
4    b1b1eb3uo-w561D0ZfCEiQ     0 2018-01-30 23:07:38      0
5    eU_713ec6fTGNO4BegRaww     0 2013-01-20 13:25:59      0
6    3fw2X5bZYeW9xCz_zGhOHg     5 2016-05-07 01:21:02      4
7    zvO-PJCpNk4fgAVUnExYAA     1 2010-10-05 19:12:35      1
8    b2jN2mm9Wf3RcrZCgfo1cg     0 2015-01-18 14:04:18      0
9    oxwGyA17NL6c5t1Etg5WgQ     1 2012-02-29 21:52:43      0
10   8mIrX_LrOnAqWsB5JrOojQ     0 2011-11-30 02:11:15      0
11   mRUVMJkUGxrByzMQ2MuOpA     0 2017-12-15 23:27:08      1
12   FxLfqxdYPA6Z85PFKaqLrg     0 2016-05-07 01:36:53      0
13   LUN6swQYa4xJKaM_UEUOEw     0 2018-04-27 20:25:26      0
14   AakkkTuGZA2KBodKi2_u8A     0 2012-07-16 00:37:14      1
15   YvrylyuWgbP90RgMqZQVnQ     0 2017-04-07 21:27:49      0
16   NyLYY8q1-H3hfsTwuwLPCg     0 2015-01-03 22:47:34      0
17   cHdJXLlKNWixBXpDwEGb_A     1 2015-04-01 16:30:00      7
18   6lj2BJ4tJeu7db5asGHQ4w     0 2017-05-26 01:23:19      0
19   y-Iw6dZflNix4BdwIyTNGA     0 2014-06-27 21:19:23      0
20   qx6WhZ42eDKmBchZDax4dQ     0 2017-03-27 01:14:37      0
21   Mem13A3C202RzT53npn4NA     9 2017-05-13 10:41:43      6
22   I4Nr-MVc26qWr08-S3Q1ow     0 2016-01-17 05:26:22      0
23   d_L-rfS1vT3JMzgCUGtiow     0 2016-07-25 03:57:19      0
24   Sfc8Haz2Yri8Mo1L0E0TsA     0 2012-11-06 03:41:43      0
25   FQ1wBQb3aNeRMThSQEV0Qg     0 2013-12-07 02:32:45      0
26   hd5xm20tfSa70-6UqD9-bg     1 2014-08-10 22:07:35      1
27   Gyrez6K8f1AyR7dzW9fvAw     1 2013-12-28 22:28:08      0
28   9nTF596jDvBBia2EXXiOOg     0 2014-04-19 15:03:17      0
29   SNL64axQhCO6Z7ohcWg3wA     0 2017-02-09 03:43:25      0
..                      ...   ...                 ...    ...
970  mss-LiOfL1vtoNo3WoEoJw     1 2016-07-14 20:41:21      1
971  vsJVJthtiw-5kZ14CgQdDQ     3 2015-04-15 05:56:03      1
972  CuT2Xh3vAYvRfxUWlUo6oA     0 2015-08-30 14:38:32      0
973  SgG5E7PUrCIsEMP0BVSlTg     2 2013-10-03 11:36:25      0
974  C6uYx1g7TxmuzjfNtxK86w     4 2015-06-08 18:27:37      2
975  ANmMChurdD2V1KpkMf60Rw     0 2014-09-25 08:55:35      0
976  FQ9C3ZF0NOfRyvFdx-J5Wg     2 2012-07-16 02:48:35      0
977  JO5_Frcbp9J732VNn-I3Ew     0 2015-08-17 19:44:18      0
978  thlAnPN1ApoNxSnok_fcvA     0 2018-02-11 04:52:54      0
979  x1Fg-pxoCq-BDhklj0GnRw     0 2014-08-24 19:13:23      1
980  zM7W3BSklPuDtUD9t7fdDQ     0 2013-05-28 23:54:53      0
981  pyZkGdnTwpRh5tFWfdmQEg     1 2015-12-20 22:38:07      0
982  ePt0qmZgU-fjqMoM1M2U3Q     0 2010-05-14 17:13:11      0
983  xh_ByBcQAU40VlbeqH-YkQ     1 2017-03-27 02:21:23      0
984  vdloJPM3bSpQTMlwdFek2A     1 2015-08-06 22:33:12      3
985  AakkkTuGZA2KBodKi2_u8A     0 2014-02-24 01:45:02      0
986  OyTSs71uXNDeC14zsPA5jw     0 2017-09-09 01:34:39      0
987  05OXAAq2RQ2NXTkwAJ1H-g     0 2016-06-11 21:08:48      0
988  f_eiOrEcMnkHB7GvQVOHkQ     0 2013-01-27 18:15:16      0
989  hh-N1r9O1JpvzGw1mp0bKw     0 2015-09-23 23:01:54      0
990  xchirC94ZWa856QFqWSYmQ     1 2013-12-07 04:32:09      0
991  r8764MtYyt8JhxMvrfM_xQ     0 2014-10-11 03:53:53      0
992  slJeUU_jXJdts1idKn9mGQ     0 2014-08-24 20:41:43      0
993  bzdb1jJ1j8Qn_RVHY97FnA     0 2011-10-27 13:11:48      0
994  2JqR8KKTul5NevLrZKfT_g     0 2018-01-21 06:31:27      0
995  2YlUn3s132hNq5ueGeIiJg     0 2011-02-13 20:47:40      0
996  A2rZyprdbtKvSzhd2yK_dQ     0 2016-07-14 18:52:59      0
997  yHkGRHz_fW4lxBbYlMrojQ     0 2016-02-11 22:45:51      0
998  MGsV9nuGOr9fxtzJPwq8Ig     1 2012-11-06 03:33:46      0
999  G7sVtpD6aqpuUB4F3LEG_w     0 2015-07-03 19:01:30      0

                  review_id  stars  \
0    Q1sbwvVQXV2734tPgoKj4Q      1
1    GJXCdrto3ASJOqKeVWPi6Q      5
2    2TzJjDVDEuAW6MR5Vuc1ug      5
3    yi0R0Ugj_xUx_Nek0-_Qig      5
4    11a8sVPMUFtaC7_ABRkmtw      1
5    fdiNeiN_hoCxCMy2wTRW9g      4
6    G7XHMxG0bx9oBJNECG4IFg      3
7    8e9HxxLjjqc9ez5ezzN7iQ      1
8    qrffudO73zsslZbe8B9D3Q      2
9    RS_GTIT6836bCaPy637kNQ      3
10   kbtscdyz6lvrtGjD1quQTg      4
11   -I5umRTkhw15RqpKMl_o1Q      1
12   Z7wgXp98wYB57QdRY3HQ3w      4
13   qlXw1JQ0UodW7qrmVgwCXw      4
14   JVcjMhlavKKn3UIt9p9OXA      1
15   svK3nBU7Rk8VfGorlrN52A      5
16   1wVA2-vQIuW_ClmXkDxqMQ      4
17   6BnQwlxRn7ZuWdzninM9sQ      3
18   rEITo90tpyKmEfNDp3Ou3A      5
19   4bUyL7lzoWzDZaJETAKREg      3
20   Amo5gZBvCuPc_tZNpHwtsA      5
21   IPw8yWiyqnfBzzWmypUHgg      5
22   IByf6mVY0WA838XNSh-5MA      4
23   S337tATeouQJdoPYyir29w      5
24   D_UvaenM25iNd6aehTZ0MA      5
25   I9HBDyzCqLhTYHCAZIFZQQ      5
26   W1wbNaUnbMy4b9QqY3_SAg      1
27   qm97yMwREr7BKkexlwLFbg      5
28   1daGBpea0sleayFeeXuoYw      1
29   DAC4zWY2ZMa1vxpN9RrDvA      1
..                      ...    ...
970  xQjJyFH0CobaHThR5iRm7A      5
971  AOfwC_Y7-Nh2MYZEzaDkNg      5
972  6hiDHa2PXEz_Sc3LeW8arA      5
973  ilkuxI6oH3s1dEYW_Kxysw      5
974  N7LNADIepjI16Yb5OSIlKQ      5
975  _Yl63o9IH-V9qWyf9N3NKA      3
976  zC0JQ6wuGLupi0l69b6-aA      3
977  u_2quQ4qz98pnER3HCvKgw      1
978  8d9AkhyrNlomzXjKo28nJQ      5
979  RdjZ8eyjmIg7_kkgfcwXlQ      5
980  UtCkrU4lEEmSV4nh-3-XDQ      4
981  0_umWDa2L8AOYY3d3MzIww      5
982  VVAt1d3XNGb4-O_QLAN4Bg      4
983  EmDJPXFBhR3FOz8olSLNTg      5
984  Z6CTk9Vo-iEgfrYuBsKxyg      3
985  vKhtzhPUz9RJbllyvHm3qA      3
986  EAL4ZGShcPQ6ji-TYzqUDw      5
987  9Hjlh3S4asYeOucbCh6cKQ      1
988  fCFJPFXy8K6hcGbx9Fn6pg      2
989  elavXdxLb55xWc_JXqGGyA      4
990  6YqQIfZUhJcQvJdc6Ydlpw      5
991  CqMNjtG0hNZGhDw4RDE-zw      2
992  3thaCxs-FeGagUuXWwy_2A      3
993  ZrQ6PqgZZOcaH8pDlil1ww      2
994  C4xuo7_PxnHiQbq8iw52Yg      3
995  soFCOKFo-YIX2kFuyb6wtw      4
996  fiM-q3Jhk0vtq-m-MfE5MQ      2
997  nSve1lFDXNMCkboG-bRwwQ      5
998  erKU7-nNuaO3WD1rkgE_aQ      4
999  VcBo0OZVwTmMh278aakFUg      4

                                                  text  useful  \
0    Total bill for this horrible service? Over $8G...       6
1    I *adore* Travis at the Hard Rock's new Kelly ...       0
2    I have to say that this office really has it t...       3
3    Went in for a lunch. Steak sandwich was delici...       0
4    Today was my second out of three sessions I ha...       7
5    I'll be the first to admit that I was not exci...       0
6    Tracy dessert had a big name in Hong Kong and ...       5
7    This place has gone down hill.  Clearly they h...       3
8    I was really looking forward to visiting after...       1
9    It's a giant Best Buy with 66 registers.  I do...       1
10   Like walking back in time, every Saturday morn...       0
11   Walked in around 4 on a Friday afternoon, we s...       0
12   Wow. So surprised at the one and two star revi...       0
13   Michael from Red Carpet VIP is amazing ! I rea...       0
14   I cannot believe how things have changed in 3 ...       1
15   You can't really find anything wrong with this...       0
16   Great lunch today. Staff was very helpful in a...       0
17   I love chinese food and I love mexican food. W...       1
18   We've been a huge Slim's fan since they opened...       0
19   Good selection of classes of beers and mains. ...       0
20   Our family LOVES the food here. Quick, friendl...       1
21   If you are looking for the best pierogies in P...       9
22   The food is always good and the prices are rea...       0
23   Pick any meat on the planet and the chef will ...       0
24   Great food, great service. Obviously fried chi...       0
25   PlumbSmart provided superior service from begi...       4
26   Unfortunately, I must recommend not to conduct...       7
27   their pettuccine was fresh-made in the morning...       0
28   if i can give this place no stars i would, i o...       1
29   This review is in regards to our experience wa...       0
..                                                 ...     ...
970  Love this hidden gem!  The food is excellent, ...       1
971  Active Renter manages all my property in Phoen...       6
972  Great beer.Matt Cole has matured into a great ...       0
973  Very pleased with everything I've bought here:...      10
974  It's pretty rare for me to write fast food rev...       2
975  This Gold's is a pretty good gym..for the pric...       0
976  I'd come here for dinner before and had a grea...       6
977  No stars.. yes no stars... (the app made me se...       1
978  I had heard that this place has very good brea...       1
979  Amazing! We moved to a new house and wanted to...       1
980  I've been there twice. The first time I got a ...       1
981  We have been searching for a good Chinese rest...       1
982  A co-worker of mine kept talking about Tottie'...       0
983  PVSEC was amazing when our family dog was atta...       2
984  Food is still excellent! Service is still Meh!...       1
985  Pretty good, food,, about the same as other vi...       0
986  Delicious. Offcourse fruity but its about the ...       0
987  We just recently purchased a house with a pool...       1
988  Very slow and incompetent staff. Food is okay,...       0
989  Good food and nice clean place ... I ate the "...       0
990  I love Southview, and I don't think I'd ever s...       1
991  I was really disappointed with my most recent ...       0
992  Clean and comfortable. Nice hot breakfast avai...       0
993  I feel like Friday's food menu has gotten wors...       1
994  Had a groupon so it was a good price.\nVariety...       0
995  We ate there yesterday for the first time. My ...       0
996  I have never waited LESS THAN forty five minut...       0
997  I am short. Pants are always waaaay too long. ...       0
998  Great ambiance, great food, although their pol...       2
999  Excellente place que vous passiez juste prendr...       0

                    user_id
0    hG7b0MtEbXx5QzbzE6C_VA
1    yXQM5uF2jS6es16SJzNHfg
2    n6-Gk65cPZL6Uz8qRm3NYw
3    dacAIZ6fTM6mqwW5uxkskg
4    ssoyf2_x0EQMed6fgHeMyQ
5    w31MKYsNFMrjhWxxAb5wIw
6    jlu4CztcSxrKx56ba1a5AQ
7    d6xvYpyzcfbF_AZ8vMB7QA
8    sG_h0dIzTKWa3Q6fmb4u-g
9    nMeCE5-xsdleyxYuNZ_7rA
10   FIk4lQQu1eTe2EpzQ4xhBA
11   -mA3-1mN4JIEkqOtdbNXCQ
12   GYNnVehQeXjty0xH7-6Fhw
13   bAhqAPoWaZYcyYi7bs024Q
14   TpyOT5E16YASd7EWjLQlrw
15   NJlxGtouq06hhC7sS2ECYw
16   86J5DwcFk4f4In1Vxe2TvA
17   JSrP-dUmLlwZiI7Dp3PQ2A
18   6Fz_nus_OG4gar721OKgZA
19   _N7Ndn29bpll_961oPeEfw
20   DzZ7piLBF-WsJxqosfJgtA
21   5JVY32_bmTBfIGpCCsnAfw
22   3CJUJILq7CLHk_9OrvpvQg
23   2mxBNBeFrgDszqGS5tdEHA
24   8NwU4TRsD3S6gIfBqFzDMQ
25   vXZeHaLvdfCPATz5BDavow
26   vDr8hBNYigiY70fk1kF5iQ
27   TTRVdTXKcq-xn6-1IWbwEw
28   q3GeSW9dWN9r_ocqFkhrvg
29   yxyRt-zoh_A6PMThX-h9Vw
..                      ...
970  eYQ-BWQNUt0MiRqTrB37YA
971  v7g23Tg8UKJC28Io5RfeXg
972  G7UL-42So8dS1hPwrHG1Bg
973  _oxSgMz5Ryfs0NQFqy56Cw
974  NjNJ1JLnMlOfnDI6Oz6Qew
975  UKGCebFD5NHUIUMNKgKpxQ
976  fjNNUJS0dtMr7W0hHMiNVw
977  8058DMYDLzQlnhtNb5yRog
978  3D2KdvX-Ppe2cy6zz1WiRA
979  Q5VObjp0WAyLbvYceX5CoA
980  9JHuo0L8EmJqBzG2cduyeg
981  guwhE7pICaAzCF0eQI2pPw
982  50rmpCUVXvaN1mASIj72kg
983  lsLuVKmdh45yommr53zfRg
984  kZGPhhKHP-ziJ5ve7k08ew
985  G-9ujgKmc1J2k7HSqXszsw
986  DDIMiC69en1Gl3t7EM8MQQ
987  HNckQDlhYRICFCTA6AmPlw
988  PLjruA-EMskWfirBU8aGUg
989  pu98xbmekZOrQAEHqNV5zA
990  n_zJNVFWUwyzryuFf1v9pw
991  _Jg-IA0M-GSjBlGu-wmejg
992  nIFHIllnkJ1vXZlUFbKPHQ
993  xtwoOTTOuZrXj4GQtsueuA
994  MopyJvrcBSgQYfyA4wyP7w
995  WFP_CgkAjYpvUBDa01GMlA
996  XtEbY-1tMhOiQFYUVTNWpQ
997  WXpuMCjbw1ewydDjW5zJsg
998  A-IkCqnYosZa49XD9qiSww
999  PV0Rp_Qh1YCIP0192e4ewg

[1000 rows x 9 columns]>

In [13]:
#assigns x and y to text and stars#
x = subset['text']
y = subset['stars']

In [14]:
#example of text for a review#
x[0]

'Total bill for this horrible service? Over $8Gs. These crooks actually had the nerve to charge us $69 for 3 pills. I checked online the pills can be had for 19 cents EACH! Avoid Hospital ERs at all costs.'

In [15]:
#example of stars for a range of reviews#
y[1:10]

1    5
2    5
3    5
4    1
5    4
6    3
7    1
8    2
9    3
Name: stars, dtype: int64

In [16]:
subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
business_id    1000 non-null object
cool           1000 non-null int64
date           1000 non-null datetime64[ns]
funny          1000 non-null int64
review_id      1000 non-null object
stars          1000 non-null int64
text           1000 non-null object
useful         1000 non-null int64
user_id        1000 non-null object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 70.4+ KB

In [17]:
subset.describe()

              cool        funny        stars       useful
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.524000     0.452000     3.654000     1.271000
std       1.384681     1.268584     1.469845     2.380594
min       0.000000     0.000000     1.000000     0.000000
25%       0.000000     0.000000     3.000000     0.000000
50%       0.000000     0.000000     4.000000     0.000000
75%       1.000000     0.000000     5.000000     1.000000
max      15.000000    14.000000     5.000000    23.000000